/* reset CSS */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Gamja Flower", cursive;
  font-size: 2em;
  font-weight: 1000;
  color: white;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

input {
  font-family: "Gamja Flower", cursive;
  font-size: 1em;
  font-weight: 700;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.hidden {
  display: none !important;
}

/* login */
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.hello {
  position: absolute;
  top: 7vh;
  left: 5vw;
}

/* time */
.clock {
  position: absolute;
  top: 4vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3em;
}

.calender {
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
}

/* quote */
.quote {
  position: absolute;
  left: 5vw;
  top: 25vh;
}

.today-quote,
.quote-text {
  margin-bottom: 2vh;
}

/* weather */
.weather {
  position: absolute;
  top: 7vh;
  right: 5vw;
}

.today-weather {
  margin-bottom: 2vh;
  font-size: 1.2em;
}
