/* reset CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gamja Flower", cursive;
  font-size: 2em;
  font-weight: 1000;
  color: white;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

input {
  font-family: "Gamja Flower", cursive;
  font-size: 1em;
  font-weight: 700;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.hidden {
  display: none !important;
}

/* login */
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.hello {
  position: absolute;
  top: 7vh;
  left: 5vw;
  font-size: 2em;
}

/* time */
.clock {
  position: absolute;
  top: 4vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3em;
}

.calender {
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
}

/* quote */
.quote {
  position: absolute;
  top: 25vh;
  left: 5vw;
  max-width: 35vw;
}

.today-quote {
  font-size: 1.5em;
  margin-bottom: 5vh;
}

.quote-text {
  margin-bottom: 2vh;
}

/* todo */
.todo {
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translateX(-40%);
}

.todo-title {
  font-size: 2em;
  margin-bottom: 2vh;
}

.todo-form input {
  background-color: transparent;
  color: white;
  margin-bottom: 2vh;
  border: none;
  padding: 3px;
  border-bottom: 3px solid white;
}

.todo-form input::placeholder {
  color: white;
}

.todo-list li {
  list-style: number;
  font-size: 1.5em;
}

.todo-list button {
  background-color: transparent;
  border: none;
  font-size: 0.7em;
  color: white;
  margin-left: 1vw;
}

/* weather */
.weather {
  position: absolute;
  top: 7vh;
  right: 5vw;
  text-align: right;
}

.today-weather {
  font-size: 1.5em;
}

.today-weather {
  margin-bottom: 2vh;
  font-size: 1.2em;
}
